html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, serif;
}

.portHeader {
  width: 100%;
  padding: 20px 0;
  background-color: #303030;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.portHeader__div {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.portHeader__div__span {
  color: white;
  font-size: 30px;
  padding-left: 60px;
}
.portHeader__div__list {
  width: 40%;
  padding-right: 30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.portHeader__div__list__listLink {
  text-decoration: none;
  color: white;
}
.portHeader__div__sandwich {
  display: none;
  width: 30px;
  height: 30px;
  padding-right: 40px;
}

.sectionAbout {
  width: 100%;
  height: 700px;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sectionAbout__aboutContent {
  width: 80%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sectionAbout__aboutContent__aboutDiv {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sectionAbout__aboutContent__aboutDiv__aboutPhoto {
  border-radius: 50%;
  border: 2px solid white;
}
.sectionAbout__aboutContent__aboutDiv__aboutSpan {
  color: white;
  font-size: 40px;
}
.sectionAbout__aboutContent__aboutDiv__aboutSpanDesc {
  color: white;
  font-size: 20px;
  text-align: center;
}

.sectionEducation {
  width: 100%;
  height: 700px;
  background: url("../img/writing-1149962_1920.jpg") fixed no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionEducation__educationContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sectionEducation__educationContent__educationContentSpan {
  font-size: 60px;
  color: white;
  font-weight: 800;
  text-align: center;
}
.sectionEducation__educationContent__div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
.sectionEducation__educationContent__div__a {
  text-decoration: none;
}
.sectionEducation__educationContent__div__a__educationContentSpan2 {
  font-size: 40px;
  padding: 10px;
  color: white;
}
.sectionEducation__educationContent__div__educationContentSpan3 {
  font-size: 40px;
  padding: 10px;
  color: white;
  text-align: center;
}
.sectionEducation__educationContent__educationNauPhoto {
  text-align: center;
  display: inline-block;
}
.sectionEducation__educationContent__educationNauPhoto img {
  width: 70%;
  border-radius: 20px;
  border: 3px solid white;
}

.sectionCourses {
  width: 100%;
  height: 600px;
  background-color: #303030;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sectionCourses__coursesContent {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sectionCourses__coursesContent__coursesSpan {
  font-size: 40px;
  color: white;
  font-weight: 800;
}
.sectionCourses__coursesContent__coursesRow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.sectionCourses__coursesContent__coursesRow__coursesRowItem {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sectionCourses__coursesContent__coursesRow__coursesRowItem__a__danLogo {
  width: 200px;
}
.sectionCourses__coursesContent__coursesRow__coursesRowItem__a__adkLogo {
  width: 200px;
}
.sectionCourses__coursesContent__coursesRow__coursesRowItem span {
  font-size: 30px;
  color: white;
  font-weight: 800;
}
.sectionCourses__coursesContent__coursesRow__coursesRowItem__iteaLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionCourses__coursesContent__coursesRow__coursesRowItem__iteaLink__iteaLogo {
  width: 400px;
}

.sectionProjects {
  width: 100%;
  height: 800px;
  background: url("../img/construction-2682641_1920.jpg") fixed no-repeat center;
  background-size: cover;
}
.sectionProjects__wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionProjects__wrapper__projectsContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.sectionProjects__wrapper__projectsContent h1 {
  color: white;
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  top: 10px;
  width: 300px;
  text-align: center;
}
.sectionProjects__wrapper__projectsContent__gallery {
  margin-top: 120px;
  width: 90%;
  height: 800px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  justify-content: space-between;
  padding: 10px;
}
.sectionProjects__wrapper__projectsContent__gallery__galleryItem {
  width: 200px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.sectionProjects__wrapper__projectsContent__gallery__galleryItem a img {
  width: 100%;
}
.sectionProjects__wrapper__projectsContent__gallery__fl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 821px) {
  .sectionCourses {
    height: 1050px;
  }

  .sectionCourses__coursesContent__coursesSpan {
    padding: 20px;
  }

  .sectionCourses__coursesContent__coursesRow {
    flex-direction: column;
  }

  .sectionProjects {
    height: 1500px;
  }

  .sectionProjects__wrapper__projectsContent__gallery {
    margin-top: 120px;
    width: 450px;
    height: 1300px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
    padding: 10px;
  }
}
@media screen and (max-width: 720px) {
  .portHeader__div__list {
    display: none;
  }

  .portHeaderSandwich {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .sectionEducation__educationContent__div__a {
    text-align: center;
    font-size: 10px;
  }

  .sectionCourses__coursesContent__coursesRow__coursesRowItem {
    width: 90%;
  }

  .sectionProjects {
    height: 2200px;
  }

  .sectionProjects__wrapper__projectsContent {
    height: 100%;
  }

  .sectionProjects__wrapper__projectsContent__gallery {
    width: 95%;
    height: 100%;
  }
}
@media screen and (max-width: 420px) {
  .sectionCourses__coursesContent__coursesRow__coursesRowItem__iteaLink__iteaLogo {
    width: 90%;
  }

  .sectionEducation__educationContent__educationContentSpan {
    font-size: 40px;
  }

  .sectionEducation__educationContent__div__a__educationContentSpan2 {
    font-size: 20px;
  }

  .sectionEducation__educationContent__div__educationContentSpan3 {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
