html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.portHeader{
    width: 100%;
    padding: 20px 0;
    background-color: #303030;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__div{
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__span{
            color: white;
            font-size: 30px;
            padding-left: 30px;
        }

        &__list{
            width: 50%;
            padding-right: 30px;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__listLink{
                text-decoration: none;
                color: white;
            }
           
        }

        .show {
            display: block;
            right: 0;
            top: 50px;
            position: absolute;
            width: 60px;
            height: 200px;
            overflow: auto;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            background-color: #303030;
            box-shadow: 2px 2px 2px 2px black;
        }

        &__sandwich{
            display: none;
            width: 30px;
            height: 30px;
            padding-right: 40px;
        }
    }
}

.sectionAbout{
    width: 100%;
    height: 700px;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &__aboutContent{
        width: 80%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__aboutDiv{
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            &__aboutPhoto{
                border-radius: 50%;
                border: 2px solid white;
            }

            &__aboutSpan{
                color: white;
                font-size: 40px;
            }

            &__aboutSpanDesc{
                color: white;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}

.sectionEducation{
    width: 100%;
    height: 700px;
    background-color: #303030;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__educationContent{
        width: 100%;
        height: 450px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__educationContentSpan{
            font-size: 40px;
            color: white;
            font-weight: 800;
            text-align: center;
        }

        &__div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 200px;

            &__a {
                text-decoration: none;

                &__educationContentSpan2 {
                    font-size: 20px;
                    padding: 10px;
                    color: white;
                }
            }

            &__educationContentSpan3{
                font-size: 20px;
                padding: 10px;
                color: white;
                text-align: center;
            }
        }

        &__educationNauPhoto{
            text-align: center;
            display: inline-block;

            img{
                width: 70%;
                border-radius: 20px;
                border: 3px solid white;
            }
        }
    }
}

.experience {
    width: 100%;
    height: 200px;
    background-color: #303030;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content{
        width: 100%;
        max-width: 1200px;
        height: 100%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.sectionCourses{
    width: 100%;
    height: 700px;
    background-color: #303030;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__coursesContent{
        width: 100%;
        max-width: 1200px;
        height: 60%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__coursesSpan{
            font-size: 40px;
            color: white;
            font-weight: 800;
        }

        &__coursesRow{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            &__coursesRowItem{
                width: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                &__a{
                    &__danLogo{
                        width: 200px;
                    }
                    &__adkLogo{
                        width: 200px;
                    }
                }

                span{
                    font-size: 30px;
                    color: white;
                    font-weight: 800;

                }

                &__iteaLink{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &__iteaLogo{
                        width: 400px;
                    }
                }

                &__soft{
                    width: 50px;
                }
            }
        }
    }
}

.sectionProjects{
    width: 100%;
    height: 900px;
    background-color: #303030;
    position: relative;
    


    &__projectsContent{
        width: 100%;
        max-width: 1200px;
        height: 100%;

        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        h1 {
            color: white;
            font-size: 40px;
            font-weight: 800;
            position: absolute;
            top: -10px;
            width: 300px;
            text-align: center;
        }

        &__gallery {
            width: 80%;
            height: 80%;
            display: flex;
            flex-flow: column wrap;
            align-content: space-between;
            justify-content: space-between;
            padding: 10px;

            &__galleryItem{
                width: 200px;
                height: 200px;
                overflow: hidden;
                
                a img{
                    width: 100%;
                }
            }

            &__galleryItem:hover a img{
                animation: moveSlideshow 5s linear;
                animation-fill-mode: forwards;
            }
                        
            @keyframes moveSlideshow {
                100% {
                    transform: translateY(calc(-100% + 200px));
                }
            }       
        }
    }
}

.emailSection{
   background-color: #303030;
   position: relative;

   &__emailContent{
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: 90%;
        height: 100%;

        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
       

        span{
            height: 20%;
            font-size: 40px;
            color: white;
            font-weight: 800;
        }

        form{
            height: 80%;
            color:white;
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }
}

@media screen and (max-width: 821px) {
    .sectionCourses{
        height: 1050px;
    }

    .sectionCourses__coursesContent{
        height: 90%;
    }

    .sectionCourses__coursesContent__coursesSpan{
        padding: 20px;
    }
    .sectionCourses__coursesContent__coursesRow{
        flex-direction: column;
    }


    .sectionProjects{
        height: 1500px;
    }
    .sectionProjects__projectsContent__gallery{
        margin-top: 120px;
        width: 450px;
        height: 1300px;

        display: flex;
        flex-flow: row wrap;
        align-content: space-around;
        justify-content: space-around;

        padding: 10px;

    }

    .emailSection{
        height: 700px;
    }
}

@media screen and (max-width: 800px) {
    .portHeader__div__list{
        display: none;
    }

    .portHeader__div__sandwich {
        display: flex;
        color: white;
    }
}

@media screen and (max-width:500px){
    .sectionEducation__educationContent__div__a{
        text-align: center;
        font-size:10px;
    }

    .sectionCourses__coursesContent__coursesRow__coursesRowItem{
        width: 90%;
    }

    .sectionProjects{
        height: 2600px;
    }

    .sectionProjects__projectsContent{
        height: 100%;
    }

    .sectionProjects__projectsContent__gallery{
        width: 90%;
        height: 100%;
    }
}


@media screen and (max-width:420px){
    .sectionCourses__coursesContent__coursesRow__coursesRowItem__iteaLink__iteaLogo{
        width: 90%;
    }

    .sectionEducation__educationContent__educationContentSpan{
        font-size: 40px;
    }

    .sectionEducation__educationContent__div__a__educationContentSpan2{
        font-size: 20px;
    }

    .sectionEducation__educationContent__div__educationContentSpan3{
        font-size: 25px;
    }
}