html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.portHeader {
  width: 100%;
  padding: 20px 0;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portHeader__div {
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portHeader__div__span {
  color: white;
  font-size: 30px;
  padding-left: 30px;
}

.portHeader__div__list {
  width: 50%;
  padding-right: 30px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portHeader__div__list__listLink {
  text-decoration: none;
  color: white;
}

.portHeader__div .show {
  display: block;
  right: 0;
  top: 50px;
  position: absolute;
  width: 60px;
  height: 200px;
  overflow: auto;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #303030;
  -webkit-box-shadow: 2px 2px 2px 2px black;
          box-shadow: 2px 2px 2px 2px black;
}

.portHeader__div__sandwich {
  display: none;
  width: 30px;
  height: 30px;
  padding-right: 40px;
}

.sectionAbout {
  width: 100%;
  height: 700px;
  background-color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.sectionAbout__aboutContent {
  width: 80%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionAbout__aboutContent__aboutDiv {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionAbout__aboutContent__aboutDiv__aboutPhoto {
  border-radius: 50%;
  border: 2px solid white;
}

.sectionAbout__aboutContent__aboutDiv__aboutSpan {
  color: white;
  font-size: 40px;
}

.sectionAbout__aboutContent__aboutDiv__aboutSpanDesc {
  color: white;
  font-size: 20px;
  text-align: center;
}

.sectionEducation {
  width: 100%;
  height: 700px;
  background-color: #303030;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionEducation__educationContent {
  width: 100%;
  height: 450px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionEducation__educationContent__educationContentSpan {
  font-size: 40px;
  color: white;
  font-weight: 800;
  text-align: center;
}

.sectionEducation__educationContent__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

.sectionEducation__educationContent__div__a {
  text-decoration: none;
}

.sectionEducation__educationContent__div__a__educationContentSpan2 {
  font-size: 20px;
  padding: 10px;
  color: white;
}

.sectionEducation__educationContent__div__educationContentSpan3 {
  font-size: 20px;
  padding: 10px;
  color: white;
  text-align: center;
}

.sectionEducation__educationContent__educationNauPhoto {
  text-align: center;
  display: inline-block;
}

.sectionEducation__educationContent__educationNauPhoto img {
  width: 70%;
  border-radius: 20px;
  border: 3px solid white;
}

.sectionCourses {
  width: 100%;
  height: 700px;
  background-color: #303030;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionCourses__coursesContent {
  width: 100%;
  max-width: 1200px;
  height: 60%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionCourses__coursesContent__coursesSpan {
  font-size: 40px;
  color: white;
  font-weight: 800;
}

.sectionCourses__coursesContent__coursesRow {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionCourses__coursesContent__coursesRow__coursesRowItem {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionCourses__coursesContent__coursesRow__coursesRowItem__a__danLogo {
  width: 200px;
}

.sectionCourses__coursesContent__coursesRow__coursesRowItem__a__adkLogo {
  width: 200px;
}

.sectionCourses__coursesContent__coursesRow__coursesRowItem span {
  font-size: 30px;
  color: white;
  font-weight: 800;
}

.sectionCourses__coursesContent__coursesRow__coursesRowItem__iteaLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionCourses__coursesContent__coursesRow__coursesRowItem__iteaLink__iteaLogo {
  width: 400px;
}

.sectionProjects {
  width: 100%;
  height: 900px;
  background-color: #303030;
  position: relative;
}

.sectionProjects__projectsContent {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionProjects__projectsContent h1 {
  color: white;
  font-size: 40px;
  font-weight: 800;
  position: absolute;
  top: -10px;
  width: 300px;
  text-align: center;
}

.sectionProjects__projectsContent__gallery {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.sectionProjects__projectsContent__gallery__galleryItem {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.sectionProjects__projectsContent__gallery__galleryItem a img {
  width: 100%;
}

.sectionProjects__projectsContent__gallery__galleryItem:hover a img {
  -webkit-animation: moveSlideshow 5s linear;
          animation: moveSlideshow 5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveSlideshow {
  100% {
    -webkit-transform: translateY(calc(-100% + 200px));
            transform: translateY(calc(-100% + 200px));
  }
}

@keyframes moveSlideshow {
  100% {
    -webkit-transform: translateY(calc(-100% + 200px));
            transform: translateY(calc(-100% + 200px));
  }
}

.emailSection {
  background-color: #303030;
  position: relative;
}

.emailSection__emailContent {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.emailSection__emailContent span {
  height: 20%;
  font-size: 40px;
  color: white;
  font-weight: 800;
}

.emailSection__emailContent form {
  height: 80%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 821px) {
  .sectionCourses {
    height: 1050px;
  }
  .sectionCourses__coursesContent {
    height: 90%;
  }
  .sectionCourses__coursesContent__coursesSpan {
    padding: 20px;
  }
  .sectionCourses__coursesContent__coursesRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sectionProjects {
    height: 1500px;
  }
  .sectionProjects__projectsContent__gallery {
    margin-top: 120px;
    width: 450px;
    height: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
  }
  .emailSection {
    height: 700px;
  }
}

@media screen and (max-width: 800px) {
  .portHeader__div__list {
    display: none;
  }
  .portHeader__div__sandwich {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
  }
}

@media screen and (max-width: 500px) {
  .sectionEducation__educationContent__div__a {
    text-align: center;
    font-size: 10px;
  }
  .sectionCourses__coursesContent__coursesRow__coursesRowItem {
    width: 90%;
  }
  .sectionProjects {
    height: 2600px;
  }
  .sectionProjects__projectsContent {
    height: 100%;
  }
  .sectionProjects__projectsContent__gallery {
    width: 90%;
    height: 100%;
  }
}

@media screen and (max-width: 420px) {
  .sectionCourses__coursesContent__coursesRow__coursesRowItem__iteaLink__iteaLogo {
    width: 90%;
  }
  .sectionEducation__educationContent__educationContentSpan {
    font-size: 40px;
  }
  .sectionEducation__educationContent__div__a__educationContentSpan2 {
    font-size: 20px;
  }
  .sectionEducation__educationContent__div__educationContentSpan3 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */