[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=/home/integra/Downloads/IntlDEA/idea-IU-172.3757.52/bin/idea.png
Exec="/home/integra/Downloads/IntlDEA/idea-IU-172.3757.52/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea