
$myGreen: #18cfab;
$myWhite: #ffffff;
$myDarkGreen: #1c2a33;
$grey: #b8b8b8;
$turquoise: #18cfab;
$blue: #00cbf6;
$white: #ffffff;
$dark-blue: #1c2a33;
$light: #f8fcfe;
$dark-grey: #717171;
$light-grey: #ececec;