@import "./mixin", "./vars", "./header.scss", "./rectangles.scss", "./services.scss", "./ready.scss", "./breakingNews.scss", "./feedback.scss", "./lastFooter.scss", "./masonry.scss";

html, body, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  font: 100% Montserrat, sans-serif;
}











