@import "./mixin", "./vars", "./header", "./rectangles", "./services", "./ready", "./breakingNews", "./feedback", "./lastFooter", "./masonry";

html, body, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  font: 100% Montserrat, sans-serif;
}











